<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.blog.domain.User">
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="avatarUrl" column="avatar_url" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="blog" column="blog" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="role" column="role" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id
        ,email,avatar_url,
        name,blog
    </sql>

    <select id="selectByEmailEquals" resultMap="BaseResultMap">
        select user_id
        from user
        where email = #{email,jdbcType=VARCHAR}
    </select>
    <select id="selectByEmailAndPassword" resultMap="BaseResultMap">
        select
        user_id,email,avatar_url,name,blog,role
        from user
        where
        email = #{email,jdbcType=VARCHAR}
        AND password = #{password,jdbcType=VARCHAR}
    </select>
</mapper>
